<p style="color: green"><%= notice %></p>
<br>
<div>
  <strong> Hello </strong>
  <%= current_user.name %>
  <br>
  <%= link_to "Edit your account", edit_user_path(current_user) %> |
  <%= link_to "Log Out", logout_path, method: :delete %>
  <hr class ="line">
</div>


<% if current_user.user_type == "Student" %>
  <%= render "student" %>
<% else %>
  <%= render "teacher" %>
<% end %>
