<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student&.user&.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= student&.user&.id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= student.group_id %>
    <%= link_to student.group.name, student.group %>
  </p>

</div>
