<%= form_with(model: presentation) do |form| %>
  <% if presentation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
        <% presentation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.text_field :current_user.name, disabled: true%>
  </div>


  <% user_group = Group.where(student_id: current_user).first %>



  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.text_field :user_group, disabled: true%>
  </div>

  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%#= form.number_field :event_id %>
    <%= form.collection_select :event_id, Event.all, :id, :name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
