<div id="<%= dom_id presentation %>">
  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= presentation.description %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= presentation.student_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= presentation.event_id %>
  </p>

  <p>
    <strong>Surveys related:</strong>
    <p> Avg_score: <%= presentation.surveys.map { |object| object.rating }.reduce(:+) / presentation.surveys.length%></p>
    <% surveys =  presentation.surveys%>
    <% positives = surveys.select{ |survey| survey.rating >= 5} %>
    <% negatives = surveys.select{ |survey| survey.rating < 5} %>
    <p> Positive comment(<%= positives.length%>): </p>
    <% positives.each do |survey| %>
      <p> rating: <%= survey.rating%></p>
      <p> comment:<%= link_to survey.comment, survey%></p>
    <% end %>
  <p> Negative comment(<%=negatives.length %>): </p>
    <% negatives.each do |survey| %>
      <p> rating: <%= survey.rating%></p>
      <p> comment:<%= link_to survey.comment, survey%></p>
    <% end %>
  </p>
</div>
