<div id="<%=  %>">
  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= presentation.description %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= presentation.student_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= presentation.event_id %>
  </p>

</div>
