<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= user.class_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= user.group_id %>
  </p>

</div>
