<p style="color: green"><%= notice %></p>


<%= link_to "Edit your account", edit_user_path(@user) %> |
<%= link_to "Back sign up", users_path %> |
<%= link_to "Delete this account", @user %>
<%= render @user %>

<div>


</div>
