<p style="color: green"><%= notice %></p>

<h1>Class Name</h1>

<h2>Current Events</h2>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%# if current_user.type == "student"%>
  <h2>Submit Presentation For This Event:</h2>
  <%# <%= form_with(model: @presentation, url: klass_event_presentations_path(@klass, @event), method: :post) do |form| %>
    <%# <%= form.hidden_field :group_id, value: current_user.group_id %>
    <%# <%= form.label :title %> 
    <%# <%= form.text_field :title %> 
    <%# <%= form.label :description %> 
    <%# <%= form.text_area :description %> 
    <%# <%= form.label :file %> 
    <%# <%= form.file_field :file %> 
    <%# <%= form.submit "Submit" %> 
  <%# <% end %> 
<%# <% end %> 

<%# if current_user.type == "teacher"%>
  <h2>Create New Event:</h2>
  <%# link_to "Create Event", new_event_path(klass_id: klass.id) %>
<%# <% end %> 



<%= link_to "New event", new_event_path %>
