<div id="<%= dom_id survey %>">
  <hr/>
  <p>
    <strong>Rating:</strong>
    <%= survey.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= survey.comment %>
  </p>

  <p>
    <strong>Audience name:</strong>
    <%=  link_to survey.student.name, survey.student %>
  </p>

  <p>
    <strong>Presentation:</strong>
    <%= survey.presentation_id %>
  </p>

  <p>
    <strong>Presentation name:</strong>
    <%=  link_to survey.presentation.title, survey.presentation %>
  </p>

</div>
