<div id="<%= dom_id survey %>">
  <p>
    <strong>Rating:</strong>
    <%= survey.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= survey.comment %>
  </p>

  <p>
    <strong>Audience name:</strong>
    <%= survey.student.name %>
  </p>

  <p>
    <strong>Presentation:</strong>
    <%= survey.presentation_id %>
  </p>

  <p>
    <strong>Presentation name:</strong>
    <%= survey.presentation.title %>
    <%=  link_to survey.presentation.title, survey.presentation %>
  </p>

</div>
