<div id="<%= dom_id survey %>">
  <p>
    <strong>Score:</strong>
    <%= survey.score %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= survey.comment %>
  </p>

  <p>
    <strong>Submitted:</strong>
    <%= survey.submitted %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= survey.event_id %>
  </p>

  <p>
    <strong>Audience:</strong>
    <%= survey.audience_id %>
  </p>

  <p>
    <strong>Presenter:</strong>
    <%= survey.presenter_id %>
  </p>

</div>
