<br>
<nav>
  <br>
  Navbar:
  <%= link_to "All Survey", surveys_url %> |
  <%= link_to "All Presentation", presentations_url %> |
  <%= link_to "All User", users_url %> |
  <%= link_to "All Class", klasses_url %> |
</nav>

<p style="color: green"><%= notice %></p>
