<div>
  <h2><%= @klass.name %></h2>

  <%= link_to "Edit this class", edit_klass_path(@klass) %> |
  <%= link_to 'Go back', users_url + "/#{current_user.id}" %>

  <%= button_to "Destroy this class", @klass, method: :delete %>
  <hr class ="line">
</div>

<% @events = Event.where(class_id: @klass.id)%>
<%= render template: "events/index"%>